
*{
margin: 0;
padding: 0;
}

body{
text-align: center;
max-width: 100%;
height: auto;
min-width: 500px;
overflow-x: hidden;
}

#b{display: inline;
margin-left: 95%;
border: 3px solid white;

background-color: antiquewhite;
} 

#b{ 
width: 80px;height: 80px; 
position: fixed;
right: 0;
bottom: 0;
border-radius: 50%; }

#gtw{height: 700px;}
#gd{height: 700px;}
.imgopen{
  cursor: pointer;
}
#c{
border: 2px dashed white;
width: 32%;
margin:5px auto;
text-align: center;
animation-name: c;
animation-duration: 3s;
animation-delay: 0s;
animation-iteration-count: infinite;
}
@keyframes c{0%{opacity: 0;}50%{color:orangered;}100%{opacity: 1;}}

.noodecolor{
  max-width: 100%;
  height: auto;
  min-width: 588px;
  overflow-x: hidden;
}
#c :hover{color: orange; cursor: pointer;}

#carouselExampleAutoplaying{
max-width: 100%;
height: auto;
}
.carousel-inner{
border: 10px ridge black;
padding: 1%;
height: auto;
}

.clearfix::after {
content: "";
clear: both;
display: block;
}
.noodleHot{
border: 2px solid white;
margin-top: 15%;
}
.card{
margin-left: -165px;
}
.f{width: 300px;height: 300px;}
.f{float: left;}
.e{height: 300px;font-size: larger;font-weight: bold;color: white;
text-indent: 20px;}


.v{

background-color: antiquewhite;
width: 300px;height: 60px;
cursor: grab; 
font-weight: bold;
font-size: large;}
.v:hover{color: yellowgreen;}
.g{

text-decoration: none;
font-weight: bold;
font-size: large;
background-color: antiquewhite;
width: 10%;height: 10%;
margin-left: 5%;
cursor: grab;}
.g:hover{color: yellowgreen;}
#a{
background-image:url(img/—Pngtree—blackboard\ texture\ black\ background_3578716.png);}

.card{ 

background-color: transparent;
color: white;
border: 2px solid white;}


#h{
color: white;
float: left;
margin-right: 700px;

}
#i{color:white;
float: none;
}

#one{
background-color: antiquewhite;}
#one{
border: 4px solid black;
} 
h2{color: white;
background-color: brown;
border: 3px white ridge;
padding-left: 1000px;}

.card-title{
text-align: center;
}

.row{
display: flex;
justify-content: space-between;
}
.eat{

width: 50%;
margin: 20px;
border: 2px dotted white; 
}
.eatt{
border: 2px dotted white;
width: 50%;
margin: 20px;
} 
.eattn{
border: 2px dotted white;
width: 50%;
margin: 20px;
}
.eatta{
border: 2px dotted white;
width: 50%;
margin: 20px;
}     
.new1 ,.new2{
display: flex;
}   





#buttonone{
text-decoration: none;

}
#button{
max-width: 100%;
height: auto; 
padding: 10px;
text-align: center;
background-color: orange;
letter-spacing: 50px;

} 


#d{
text-align: center;
max-width: 100%;
height: auto;
padding: 10px;
letter-spacing: 50px;}
#button:hover{background-color: black;}
#bu{
max-width: 100%;
height: auto;
padding: 10px;
letter-spacing: 50px;
}


.j{color: red;
cursor: default;}
.j:hover{
transform: scale(0.3,0.3);
transition:3s ;}


.k{color: red;
cursor: default;
}
.k:hover{transform: scale(0.3,0.3);
transition:3s ;
}
.m{height: 303px;
float: left;}   
.n{height: 300px;
width: 500px;
color: white;}
.n:hover{color: orange;}

.imgfl{float: right;}
#fool{clear: both;}
.nst{color: red; cursor: default;height: 150px;}
.nst:hover{transform: scale(0.3,0.3);
transition:3s ;}
.name{color: white;
text-align: center; }
.hr{color: white;}
#youtube{width: 50px;}

.img9{
width: 40%;
}
.ss{
border: 2px solid white;
width: 40%;
}
.ss h1,.ss p{
color: white;
}
.zxc{
width: 40%;
}
.pkk{
border: 2px solid white;
width: 40%;


}
.pkk h1,.pkk p{
color: white;
}
.lh{
display: flex;
justify-content: center;
}

#fool{
color: white;
border: 2px solid white;
}
.pcv{
float: left;
}



#as{background-image:url(img/—Pngtree—blackboard\ texture\ black\ background_3578716.png);}

#cz{float: right;
}



#ns:hover{color: orange;
;}
#ns{

text-align: center;
}
#ns strong{
border: 2px dashed white; 
animation-name:ns ;
animation-duration: 3s;
animation-delay: 0s;
animation-iteration-count: infinite;
animation-direction: normal;}
@keyframes ns{0%{opacity: 0;}
50%{color:orangered }100%{opacity: 1;}}
#cx{
display: flex;
max-width: 100%;
flex-wrap: wrap;

flex-grow: 1;
flex-shrink: 0;

}
#cz{
display: flex;
max-width: 100%;
flex-wrap: wrap;
}
#cv{
display: flex;
max-width: 100%;
flex-wrap: wrap;

}

#xc{
height: 200px;

}
#cdf{
height: 200px;
}
.col-md-4{
display: flex;

}
.col-md-8{
display: flex;
}
.card-body{
flex-grow: 1; background-color: white;
}

#xv{height: 200px;}
#xb{height: 200px;}
#xd{height: 200px;}
#xf{height: 200px;} 
#xh{height: 200px;}
#xl{height: 200px;}
#cp{
height: 200px;

}
#cb{height: 200px;}
#cf{height: 200px;}
#ds{height: 200px;} 
#da{height: 200px;}
#dg{height: 200px;}
#form{background-color: #aaa;
width: 50%;
margin-left:-30px;
padding: 20px;
border-radius: 10px; }  
#mm{height: 200px;}
#ty{height: 200px;}
#uj{height: 200px;}  
#mj{height: 200px;}   
#gt{height: 200px;} 
#gf{height: 200px;} 
#gr{height: 200px;}
#gn{height: 200px;}
/* #mk{height: 20px;}   */
#bb{margin-left: 40%;}
#ss{color: white;}
samp{text-decoration: line-through;color: red;}
#csd{color: white;
text-decoration: none;}
#ent{text-decoration: none; 
color: white;}

/*index flexbox*/
.noodleRice{
  color: white;
}
.z{
  font-size: 30px;
}

.noodleImg{
  max-width: 100%;
  height: auto;
}


#onefoot{background-image:url(img/—Pngtree—blackboard\ texture\ black\ background_3578716.png) ;}
#qa{color: white;
font-size: 50px;
margin-left: 45%;} 
#tu{width: 50px; 
height: 50px;
margin-bottom: -500px;
animation-name:tu;
animation-duration: 3s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction:normal;
}

@keyframes tu{0%{opacity: 0;}100%{opacity: 1;}
}
#tk{width: 50px; 
height: 50px;
margin-bottom: -500px;
animation-name:tk;
animation-duration: 3s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-delay: 1s;}
@keyframes tk{0%{opacity: 0;}100%{opacity: 1;}} 
#tm{width: 50px; 
height: 50px;
margin-bottom: -500px;
animation-name:tm;
animation-duration: 3s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-delay: 2s;}
@keyframes tm{0%{opacity: 0;}100%{opacity: 1;}} 
#footht{ 
    margin-left: 45%;
  width: 100px;
  height: 50px;}
#csdd{font-size: 23px;color: white;text-decoration: none;}                  

.pkl{

max-width: 100%;
}
.nm{
width: 100%;
text-align: center;
}

/*餐點按鈕 數字 Home2*/
.number,.number1,.number2,.number3,.number4,.number5,.number6,.number7,.number8,.number9,.number10,.number11,.number12,.number13,.number14,.number15,.number16,.number17,.number18,.number19,.number20,.number21,.number22,.number23{
width: 40px;

}
.buttonMin,.buttonMin1,.buttonMin2,.buttonMin3,.buttonMin4,.buttonMin5,.buttonMin6,.buttonMin7,.buttonMin8,.buttonMin9,.buttonMin10,.buttonMin11,.buttonMin12,.buttonMin13,.buttonMin14,.buttonMin15,.buttonMin16,.buttonMin17,.buttonMin18,.buttonMin19,.buttonMin20,.buttonMin21,.buttonMin22,.buttonMin23{
width: 60px;
background-color: black;
color: white;
font-weight: bolder;
}
.buttonmax{
  background-color: white;
  font-weight: bolder;
}
.card-bodyf{
  background-color: transparent;
}

.alls{
  background-color: black;
  border: 2px solid white;
  height: 400px;
  position: fixed;
  right: 25%;
  left: 25%;
  top: 20%;
  overflow: hidden;
  overflow: scroll;
}
.name:hover{
  cursor: pointer;
}
.io:hover{
  cursor: pointer;
  background-color: #aaa;
}
.f{
  width: 300px;
  transition: 3s linear;
}
.f:hover{
  width: 350px;
transition: 5s linear;
}

.fa-solid{
  animation: kmm 10s linear infinite 2s;
}

@keyframes kmm{
  
  50%{ box-shadow: 2px 1px 10px 5px  black;}
  100%{ box-shadow: 2px 1px 10px 5px  white;}
}

/*Home3*/
.bodytext{
  color: white;
}
.label{
margin-top: 60px;
 
}

.label1{
  margin-top: 40px;
   
}

/*Homefoot*/
.foote{
  background-color:transparent;
 margin-left:10% ;
 letter-spacing: 10px;
}

/*Home4*/
.Hone4{
  background-image: url(img/—Pngtree—blackboard\ texture\ black\ background_3578716.png);

}
